:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
  flex: 1;
}

.editor-container {
  flex: 1;
  overflow: auto;
}

.editor-container .cm-editor {
  height: 100%;
  font-size: 0.9375rem;
}

.editor-container .cm-scroller {
  overflow: auto;
  font-family: 'Roboto Mono', 'Courier New', monospace;
}
