:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
  flex: 1;
}

.editor-container {
  flex: 1;
  overflow: auto;
}

.editor-container .cm-editor {
  /* height: calc(100vh - 64px); */
  height: 300px;
  font-size: 0.9375rem;
}

.editor-container {
  overflow: auto;
  font-family: var(--font-mono);
}